autopep8==1.5.7
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
Flask==2.0.0
Flask-WTF==0.14.3
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pycodestyle==2.7.0
requests==2.25.1
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.4
Werkzeug==2.0.1
wtf==0.1
WTForms==2.3.3
