{% extends "layout.html.jinja" %}

{% block middle %}

    <center>
        <div class="author-part">
            <img class="author-img" src="{{url_for('static', filename='me.jpeg')}}">
            <h3><i>Kyrylo Lykholietov</i></h3>
            <h5><b>Field of study:</b> Applied Informatics</h5>
            <h5><b>Album number:</b> 219219</h5>
        </div>
    </center>

{% endblock middle %}