<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceneo Scraper</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
        footer{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <span class="fs-4" style="font-family: cursive;">Ceneo Scraper</span>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Extract</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Products</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Author</a></li>
        </ul>

      </header>
    </div>

      <main style="min-height:600px" class="container">
        <div class="col-md-4 col-sm-12">
          {% block middle %}
            <h1>Layout</h1>
          {% endblock %}
        </div>
        <div class="col-md-4 col-sm-12">
          {% block left %}
          
          {% endblock %}
        </div>
      </main>

      <footer class="bg-primary text-white text-center text-lg-start">      

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          Kyrylo Lykholietov 219219, Copyright ©
        </div>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>