{% extends "layout.html.jinja" %}

{% block middle %}
    <h3 style="margin-top:20px">Products</h3>
    <ul class="list-group list-group-flush">
    {% for product in products%}
        <li class="list-group-item">
            <a href="{{url_for('product', productId=product['productId'])}}">{{product['name']}}</a>
            <p class="text-end">
                <span class="badge rounded-pill bg-info text-dark">{{product['opinionsCount']}}</span>
                <span class="badge rounded-pill bg-warning text-dark">{{ "%.2f"|format(product['avarageScore']|float)}}</span>
                <span class="badge rounded-pill bg-success">{{product['prosCount']}}</span>
                <span class="badge rounded-pill bg-danger">{{product['consCount']}}</span>
            </p>
        </li>
    {% endfor %}
    </ul>
{% endblock middle %}